@import
	url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.main-container {
	-base-spacing-unit: 24px;
	-half-spacing-unit: base-spacing-unit/2;
	-color-alpha: #1772FF;
	-color-form-highlight: #EEEEEE;
}

.main-container *, .main-container *:before, .main-container *:after {
	box-sizing: border-box;
}

.container {
	padding: var(-base-spacing-unit);
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

.container {
	padding: var(base-spacing-unit);
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

.main-container h1, .main-container h2, .main-container h3, .main-container h4,
	.main-container h5, .main-container h6 {
	margin: 0;
}

.main-container table, .main-container th, .main-container td,
	.main-container caption {
	border: 1px solid;
}

.main-container tr:hover {
	background-color: coral;
}

.main-container th, .main-container td {
	padding: 15px;
	text-align: left;
}

.main-container table {
	width: 100%;
	border-collapse: collapse;
}

.main-container th, .main-container caption {
	font-weight: bold;
	font-size: large;
	background-color: #007bff;
	color: white;
}

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.table {
	width: 100%;
	border: 1px solid var(-color-form-highlight);
}

.table-header {
	display: flex;
	width: 100%;
	background: #000;
	padding: calc(var(-half-spacing-unit)* 1.5) 0;
}

.table-row {
	display: flex;
	width: 100%;
	padding: calc(var(-half-spacing-unit)* 1.5) 0;
}

.table-row:nth-of-type(odd) {
	background: var(-color-form-highlight);
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align: center;
}

.header__item {
	text-transform: uppercase;
}

.filter__link {
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding-left: var(-base-spacing-unit);
	padding-right: var(-base-spacing-unit);
}

.filter__link::after {
	content: '';
	position: absolute;
	right: calc(var(-half-spacing-unit)* 1.5);
	color: white;
	font-size: var(-half-spacing-unit);
	top: 50%;
	transform: translateY(-50%);
}

.filter__link .desc::after {
	content: '(desc)';
}

.filter__link .asc::after {
	content: '(asc)';
}